*{
    margin: 0;
    padding: 0;
}

.main-container{
    background-color: white;
    /* align-items: center; */
}

.cart{
    padding: 20px;
}
.nav-bar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(213, 209, 209);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
}

.ul >ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    list-style: none;
    font-size: 20px;
    /* margin-top: 20px; */
}

.shoe-card{
    display: flex;
    /* justify-content: flex-start; */
    /* padding: 20px;
    margin-left: 20px;
    margin-right: 20px; */
    flex-direction: column;
    margin-left: 200px;
}

.shoe-image{
    border-radius: 20px;
    /* justify-content: center; */
    background-color: blue;
    height: 30vh;
    width: 90px;
    margin-left: 100px;

    /* margin-bottom: 400px; */
}

.img0{
    border-radius: 20px;

}
.img1{
    display: flex;
    flex-direction: row;
    margin-top: 360px;
    margin-right: 0%;
    width: 100px;
    border-radius: 10px;
}

.tiny-cards{
    margin-top: 225px;
    margin-left: 105px;
    display: flex;
    /* justify-content: flex-start;
    align-items: flex-start; */
    gap: 30px;


}